/* Tutorial classes*/
.Tutorial-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Tutorial-section .cocktail-pic img {
  height: 250px;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 100px;
}
.Tutorial-section .recipe ul {
  list-style-type: none;
}
.Tutorial-section .recipe ul .tutorial-item {
  margin: 10px;
}